In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('../data/상장raw2.csv', encoding='euc-kr')
df상장 = pd.read_excel('../data/kospi+kodaq_dp(등급).xls')

In [3]:
df['회계년도']= df['회계년도'].replace('/','').astype(str).str[:4].astype(int)
df = df[df['회계년도'] == 2022]

In [4]:
df['FCF'] = df['영업활동으로 인한 현금흐름(간접법)(*)(IFRS연결)(천원)'] + df['투자활동으로 인한 현금흐름(*)(IFRS연결)(천원)']
df['매출액대비잉여현금흐름'] = df['FCF'] / df['매출액(수익)(*)(IFRS연결)(천원)']
df['총자산대비영업현금흐름'] = df['영업활동으로 인한 현금흐름(간접법)(*)(IFRS연결)(천원)'] / df['자산(*)(IFRS연결)(천원)']
df['PBR'] = df['PBR(최고)(IFRS)'] + df['PBR(최저)(IFRS)'] /2

In [5]:
df = df[['회사명', '거래소코드', '부채비율(IFRS연결)', '총자본회전률(IFRS연결)', '매출액대비잉여현금흐름', 'PBR', '자기자본순이익률(IFRS연결)', '총자산대비영업현금흐름', '부가가치율(IFRS연결)', '자기자본증가율(IFRS연결)', '총자본투자효율(IFRS연결)', '총자본순이익률(IFRS연결)', '매출액정상영업이익률(IFRS연결)' ]]

In [6]:
df['거래소코드'] = df['거래소코드'].astype(str).str.zfill(6)

In [7]:
df상장.dropna(axis=0, inplace=True)

In [8]:
df상장['Stock'] = df상장['Stock'].astype(int)

In [9]:
df상장['Stock'] = df상장['Stock'].astype(str).str.zfill(6)

In [10]:
df상장.columns = ['KIS', '거래소코드', '회사명_1', '신용평점']

In [11]:
df_total = pd.merge(df,df상장,how='inner',on='거래소코드')

In [12]:
df_total['신용평점']=df_total['신용평점'].map({
    'AAA' : 'AA',
    'AA':'AA',
    'A':'A',
    'BBB':'BBB',
    'BB':'BB',
    'B':'B',
    'CCC':'CCC',
    'CC':'CC',
    'C': 'D',
    'D':'D'

})

In [13]:
df_total.isna().sum()

회사명                   0
거래소코드                 0
부채비율(IFRS연결)          7
총자본회전률(IFRS연결)        7
매출액대비잉여현금흐름           3
PBR                   7
자기자본순이익률(IFRS연결)      7
총자산대비영업현금흐름           3
부가가치율(IFRS연결)         7
자기자본증가율(IFRS연결)       7
총자본투자효율(IFRS연결)       7
총자본순이익률(IFRS연결)       7
매출액정상영업이익률(IFRS연결)    7
KIS                   0
회사명_1                 0
신용평점                  0
dtype: int64

In [14]:
df_total=df_total.dropna()

In [15]:
df_total = df_total.replace([np.inf, -np.inf], np.nan)  # inf 값을 NaN으로 대체
df_total = df_total.dropna()  # NaN이 있는 행 삭제

In [16]:
df_total.describe()

,부채비율(IFRS연결),총자본회전률(IFRS연결),매출액대비잉여현금흐름,PBR,자기자본순이익률(IFRS연결),총자산대비영업현금흐름,부가가치율(IFRS연결),자기자본증가율(IFRS연결),총자본투자효율(IFRS연결),총자본순이익률(IFRS연결),매출액정상영업이익률(IFRS연결)
count,2227.000000,2227.000000,2227.000000,2227.000000,2227.000000,2227.000000,2227.000000,2227.000000,2227.000000,2227.000000,2227.000000
mean,116.800319,0.824378,-0.458614,4.835846,-3.629600,0.018190,-18.366161,15.421423,14.472613,-0.162317,-49.961823
std,372.215819,0.538563,6.208763,10.441767,52.901335,0.125568,582.062478,124.259074,20.073565,14.605982,698.404368
min,0.000000,0.000000,-191.728290,-7.190000,-1464.690000,-2.012239,-20814.490000,-1181.720000,-232.580000,-121.860000,-19661.230000
25%,31.805000,0.460000,-0.138168,1.490000,-5.110000,-0.023213,10.170000,-1.275000,7.590000,-2.895000,-1.245000
50%,67.220000,0.730000,-0.016669,2.685000,4.440000,0.030037,19.920000,5.100000,15.160000,2.490000,3.770000
75%,124.195000,1.090000,0.046609,5.035000,11.060000,0.075364,32.600000,14.420000,23.185000,6.575000,8.940000
max,12457.270000,4.810000,89.030218,285.595000,227.300000,0.564594,1252.350000,3969.200000,201.280000,100.800000,67.070000

In [17]:
df_total.drop('회사명_1', axis=1, inplace=True)

In [18]:
df_total.columns = ['회사명', '거래소코드', '부채비율', '총자본회전률', '매출액대비잉여현금흐름', 'PBR',
       '자기자본순이익률', '총자산대비영업현금흐름', '부가가치율', '자기자본증가율',
       '총자본투자효율', '총자본순이익률', '매출액영업이익률', 'KIS',
       '신용평점']

In [19]:
coefficients = {
    '부채비율' : -0.17176446,
    '총자본회전률' : 1.00856286,
    '매출액대비잉여현금흐름' : -0.0044608,
    'PBR' : -0.20304586,
    '자기자본순이익률' : 0.67645199,
    '총자산대비영업현금흐름' : -0.28369245,
    '부가가치율' : -0.46108049,
    '자기자본증가율' : -0.51168342,
    '총자본투자효율' : -0.07842666,
    '총자본순이익률' : 0.52424143,
    '매출액영업이익률' : -0.05487773,
    'constant' : 50.77631127
}


# O-Score 계산
df_total['dp_score'] = coefficients['constant']
df_total['dp_score'] += coefficients['부채비율'] * df_total['부채비율']
df_total['dp_score'] += coefficients['총자본회전률'] * df_total['총자본회전률']
df_total['dp_score'] += coefficients['매출액대비잉여현금흐름'] * df_total['매출액대비잉여현금흐름']
df_total['dp_score'] += coefficients['PBR'] * df_total['PBR']
df_total['dp_score'] += coefficients['자기자본순이익률'] * df_total['자기자본순이익률']
df_total['dp_score'] += coefficients['총자산대비영업현금흐름'] * df_total['총자산대비영업현금흐름']
df_total['dp_score'] += coefficients['부가가치율'] * df_total['부가가치율']
df_total['dp_score'] += coefficients['자기자본증가율'] * df_total['자기자본증가율']
df_total['dp_score'] += coefficients['총자본투자효율'] * df_total['총자본투자효율']
df_total['dp_score'] += coefficients['총자본순이익률'] * df_total['총자본순이익률']
df_total['dp_score'] += coefficients['매출액영업이익률'] * df_total['매출액영업이익률']

In [20]:
lower_bound = df_total['dp_score'].quantile(0.02)
upper_bound = df_total['dp_score'].quantile(0.98)
df_total_filtered = df_total[(df_total['dp_score'] >= lower_bound) & (df_total['dp_score'] <= upper_bound)]

In [21]:
df_total[['dp_score','신용평점']].groupby('신용평점').agg(['mean', lambda x: x.quantile(0.25), lambda x: x.quantile(0.5), lambda x: x.quantile(0.75)])

        dp_score
            mean <lambda_0> <lambda_1> <lambda_2>
신용평점
A      28.154951  23.745091  32.890996  38.955927
AA     28.274881  23.113077  29.142690  35.280266
B      35.983874  -4.708380  14.277468  28.265222
BB     16.971487   8.482243  20.936997  30.160283
BBB    24.572397  18.450270  29.859557  36.544599
CC    136.886995 -21.416158  12.053075  47.885410
CCC    20.589735 -13.812044  13.512390  27.339484
D     -45.733871 -72.809402 -14.435563  19.630394

In [22]:
df_total_filtered[['dp_score','신용평점']].groupby('신용평점').mean()

       dp_score
신용평점
A     28.494314
AA    28.274881
B     10.679252
BB    17.526530
BBB   25.124076
CC     3.743929
CCC    3.176542
D    -16.799704