## 데이터 EDA과정

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('../data/설립일포함.csv')
df

,회사명,거래소코드,회계년도,산업코드,산업명,설립일,상장일,기업규모코드,감사의견코드
0,(주)KAL호텔네트워크,29255,2012/12,95501,숙박업,2001/05/16,0000/00/00,10.0,UQ
1,(주)KAL호텔네트워크,29255,2013/12,95501,숙박업,2001/05/16,0000/00/00,10.0,UQ
2,(주)KAL호텔네트워크,29255,2014/12,95501,숙박업,2001/05/16,0000/00/00,10.0,UQ
3,(주)KAL호텔네트워크,29255,2015/12,95501,숙박업,2001/05/16,0000/00/00,10.0,UQ
4,(주)KAL호텔네트워크,29255,2016/12,95501,숙박업,2001/05/16,0000/00/00,10.0,UQ
...,...,...,...,...,...,...,...,...,...
294068,힐티코리아주식회사,10534,2018/12,74605,도매 및 상품 중개업,1986/07/10,0000/00/00,30.0,UQ
294069,힐티코리아주식회사,10534,2019/12,74605,도매 및 상품 중개업,1986/07/10,0000/00/00,30.0,UQ
294070,힐티코리아주식회사,10534,2020/12,74605,도매 및 상품 중개업,1986/07/10,0000/00/00,30.0,UQ
294071,힐티코리아주식회사,10534,2021/12,74605,도매 및 상품 중개업,1986/07/10,0000/00/00,20.0,UQ
294072,힐티코리아주식회사,10534,2022/12,74605,도매 및 상품 중개업,1986/07/10,0000/00/00,30.0,UQ

In [4]:
df.isna().sum()

회사명           0
거래소코드         0
회계년도          0
산업코드          0
산업명           0
설립일         297
상장일          12
기업규모코드     2961
감사의견코드    34005
dtype: int64

In [5]:
df[df['감사의견코드']=='ZZ']

,회사명,거래소코드,회계년도,산업코드,산업명,설립일,상장일,기업규모코드,감사의견코드
131195,(주)제이더블유엘,58276,2012/12,126800,부동산업,2010/06/08,0,20.0,ZZ

In [6]:
df['감사의견코드'].value_counts()

UQ    236730
QS     13901
DU      3772
DS      2632
QG      1272
QU      1194
AG       533
QQ        28
QA         4
ZZ         1
DI         1
Name: 감사의견코드, dtype: int64

In [7]:
df['감사의견코드']=df['감사의견코드'].map({
    'AG':'부적정',
    'DS':'의견거절',
    'DI':'의견거절',
    'DU':'의견거절',
    'QA':'한정',
    'QC':'한정',
    'QG':'한정',
    'QQ':'한정',
    'QS':'한정',
    'QU':'한정',
    'UQ':'적정',
    'ZZ':'ZZ'

})

In [8]:
df['감사의견코드'].isna().sum()

34005

In [9]:
df['감사의견코드'].value_counts()

적정      236730
한정       16399
의견거절      6405
부적정        533
ZZ           1
Name: 감사의견코드, dtype: int64

In [10]:
(15414+6164+527)/239780

0.09218867295020436

In [11]:
(15414+6164+527)

22105

In [12]:
df.isna().sum()

회사명           0
거래소코드         0
회계년도          0
산업코드          0
산업명           0
설립일         297
상장일          12
기업규모코드     2961
감사의견코드    34005
dtype: int64

* 감사의견 코드 ZZ가 뭘까?

In [108]:
df[df['감사의견코드']=='ZZ']

           거래소코드     회계년도 감사의견코드
회사명
(주)제이더블유엘  58276  2012/12     ZZ

In [109]:
df['감사의견코드']=df['감사의견코드'].map({
    '적정':0,
    '한정':1,
    '부적정':1,
    '의견거절':1

})

In [110]:
df['감사의견코드'].value_counts()

감사의견코드
0.0    239780
1.0     22105
Name: count, dtype: int64

In [111]:
len(df[df['감사의견코드']==1].index.unique())

14793

In [112]:
df1=pd.read_csv('./Dataset/중견1.csv',encoding='euc-kr',index_col=0)
df2=pd.read_csv('./Dataset/중견2.csv',encoding='euc-kr',index_col=0)
df=pd.concat([df1,df2],axis=0)

In [113]:
df.to_csv('중견기업.csv',encoding='euc-kr')

In [114]:
len(df.index.unique())

5568

In [122]:
#########################################################################################################################################################

In [115]:
df2=pd.read_csv('./Dataset/mk_target2.csv',encoding='euc-kr',index_col=0)

In [116]:
df2['감사의견코드'].value_counts()

감사의견코드
UQ    236730
QS     13901
DU      3772
DS      2632
QG      1272
QU      1194
AG       533
QQ        28
QA         4
ZZ         1
DI         1
Name: count, dtype: int64

In [117]:
df2['감사의견코드']=df2['감사의견코드'].map({
    'AG':'부적정',
    'DS':'의견거절',
    'DI':'의견거절',
    'DU':'의견거절',
    'QA':'한정',
    'QC':'한정',
    'QG':'한정',
    'QQ':'한정',
    'QS':'한정',
    'QU':'한정',
    'UQ':'적정',
    'ZZ':'ZZ'

})

In [118]:
df2['감사의견코드']=df2['감사의견코드'].map({
    '적정':0,
    '한정':1,
    '부적정':1,
    '의견거절':1

})

In [119]:
df2['감사의견코드'].value_counts()

감사의견코드
0.0    236730
1.0     23337
Name: count, dtype: int64

In [121]:
len(df2[df2['감사의견코드']==1].index.unique())

16276