## 데이터 EDA과정

In [97]:
import pandas as pd

In [98]:
df=pd.read_csv('./Dataset/mk_target.csv',encoding='euc-kr',index_col=0)
df

                    거래소코드     회계년도 감사의견코드
회사명
(유)그룹세브코리아          13171  2019/12    NaN
(유)그룹세브코리아          13171  2020/12     UQ
(유)그룹세브코리아          13171  2021/12     UQ
(유)그룹세브코리아          13171  2022/12     UQ
(유)디에스브이에어앤씨인터내셔널  104275  2021/12    NaN
...                   ...      ...    ...
힐중공업주식회사            82007  2017/12     QS
힐중공업주식회사            82007  2018/12     QU
（주）신미코스메틱           85105  2017/12    NaN
（주）신미코스메틱           85105  2018/12     UQ
（주）신미코스메틱           85105  2019/12     UQ

[294820 rows x 3 columns]

In [99]:
df.isna().sum()

거래소코드         0
회계년도          0
감사의견코드    32934
dtype: int64

In [100]:
df[df['감사의견코드']=='ZZ']

           거래소코드     회계년도 감사의견코드
회사명
(주)제이더블유엘  58276  2012/12     ZZ

In [101]:
df['감사의견코드'].value_counts()

감사의견코드
UQ    239780
QS     13023
DU      3604
DS      2559
QG      1208
QU      1152
AG       527
QQ        27
QA         4
ZZ         1
DI         1
Name: count, dtype: int64

In [102]:
df['감사의견코드']=df['감사의견코드'].map({
    'AG':'부적정',
    'DS':'의견거절',
    'DI':'의견거절',
    'DU':'의견거절',
    'QA':'한정',
    'QC':'한정',
    'QG':'한정',
    'QQ':'한정',
    'QS':'한정',
    'QU':'한정',
    'UQ':'적정',
    'ZZ':'ZZ'

})

In [103]:
df['감사의견코드'].isna().sum()

32934

In [104]:
df['감사의견코드'].value_counts()

감사의견코드
적정      239780
한정       15414
의견거절      6164
부적정        527
ZZ           1
Name: count, dtype: int64

In [105]:
(15414+6164+527)/239780

0.09218867295020436

In [106]:
(15414+6164+527)

22105

In [107]:
df.isna().sum()

거래소코드         0
회계년도          0
감사의견코드    32934
dtype: int64

* 감사의견 코드 ZZ가 뭘까?

In [108]:
df[df['감사의견코드']=='ZZ']

           거래소코드     회계년도 감사의견코드
회사명
(주)제이더블유엘  58276  2012/12     ZZ

In [109]:
df['감사의견코드']=df['감사의견코드'].map({
    '적정':0,
    '한정':1,
    '부적정':1,
    '의견거절':1

})

In [110]:
df['감사의견코드'].value_counts()

감사의견코드
0.0    239780
1.0     22105
Name: count, dtype: int64

In [111]:
len(df[df['감사의견코드']==1].index.unique())

14793

In [112]:
df1=pd.read_csv('./Dataset/중견1.csv',encoding='euc-kr',index_col=0)
df2=pd.read_csv('./Dataset/중견2.csv',encoding='euc-kr',index_col=0)
df=pd.concat([df1,df2],axis=0)

In [113]:
df.to_csv('중견기업.csv',encoding='euc-kr')

In [114]:
len(df.index.unique())

5568

In [122]:
#########################################################################################################################################################

In [115]:
df2=pd.read_csv('./Dataset/mk_target2.csv',encoding='euc-kr',index_col=0)

In [116]:
df2['감사의견코드'].value_counts()

감사의견코드
UQ    236730
QS     13901
DU      3772
DS      2632
QG      1272
QU      1194
AG       533
QQ        28
QA         4
ZZ         1
DI         1
Name: count, dtype: int64

In [117]:
df2['감사의견코드']=df2['감사의견코드'].map({
    'AG':'부적정',
    'DS':'의견거절',
    'DI':'의견거절',
    'DU':'의견거절',
    'QA':'한정',
    'QC':'한정',
    'QG':'한정',
    'QQ':'한정',
    'QS':'한정',
    'QU':'한정',
    'UQ':'적정',
    'ZZ':'ZZ'

})

In [118]:
df2['감사의견코드']=df2['감사의견코드'].map({
    '적정':0,
    '한정':1,
    '부적정':1,
    '의견거절':1

})

In [119]:
df2['감사의견코드'].value_counts()

감사의견코드
0.0    236730
1.0     23337
Name: count, dtype: int64

In [121]:
len(df2[df2['감사의견코드']==1].index.unique())

16276