In [494]:
import pandas as pd

> 데이터 불러오기

In [495]:
kos_개별_df = pd.read_csv('/Users/taewon/Documents/금융 빅데이터/Project_2/코딩/상장기업/코스피_코스닥_개별.csv', encoding='cp949')
kos_연결_df = pd.read_csv('/Users/taewon/Documents/금융 빅데이터/Project_2/코딩/상장기업/코스피_코스닥_연결.csv', encoding='cp949')
kos_gaap_df = pd.read_csv('/Users/taewon/Documents/금융 빅데이터/Project_2/코딩/상장기업/코스피_코스닥_gaap.csv', encoding='cp949')
kon_연결_df = pd.read_csv('/Users/taewon/Documents/금융 빅데이터/Project_2/코딩/상장기업/코넥스_연결.csv', encoding='cp949')
kon_개별_df = pd.read_csv('/Users/taewon/Documents/금융 빅데이터/Project_2/코딩/상장기업/코넥스_개별.csv', encoding='cp949')
kon_gaap_df = pd.read_csv('/Users/taewon/Documents/금융 빅데이터/Project_2/코딩/상장기업/코넥스_gaap.csv', encoding='cp949')

> 타겟 데이터 불러오기

In [496]:
kos_target_df = pd.read_csv('/Users/taewon/Documents/금융 빅데이터/Project_2/코딩/상장기업/코스피_코스닥_타겟.csv', encoding='cp949')
kon_target_df = pd.read_csv('/Users/taewon/Documents/금융 빅데이터/Project_2/코딩/상장기업/코넥스_타겟.csv', encoding='cp949')

> 컬럼 추가 데이터 불러오기

In [497]:
kos_추가_df = pd.read_csv('/Users/taewon/Documents/금융 빅데이터/Project_2/코딩/상장기업/코스피_코스닥_컬럼추가.csv', encoding='cp949')
kon_추가_df = pd.read_csv('/Users/taewon/Documents/금융 빅데이터/Project_2/코딩/상장기업/코넥스_컬럼추가.csv', encoding='cp949')

> 단위맞추기(GAAP) : 영업이익(백만원) -> (천원)

In [498]:
kos_gaap_df.iloc[:,-5:]*=1000

In [499]:
kos_gaap_df.rename(columns={'영업이익(요약)(백만원)':'영업이익(천원)'},inplace=True)

In [500]:
kon_gaap_df.iloc[:,-5:]*=1000

In [501]:
kon_gaap_df.rename(columns={'영업이익(요약)(백만원)':'영업이익(천원)'},inplace=True)

> 컬럼명 리스트에 저장

In [502]:
col_list = kos_연결_df.columns.to_list()
col_list2 = kon_연결_df.columns.to_list()

> 컬럼명 통일

In [503]:
kos_연결_df.columns = [f"X_{i}" for i in range(1, 55)]

In [504]:
kos_개별_df.columns = [f"X_{i}" for i in range(1, 55)]

In [505]:
kos_gaap_df.columns = [f"X_{i}" for i in range(1, 55)]

In [506]:
kon_연결_df.columns = [f"X_{i}" for i in range(1, 55)]

In [507]:
kon_개별_df.columns = [f"X_{i}" for i in range(1, 55)]

In [508]:
kon_gaap_df.columns = [f"X_{i}" for i in range(1, 55)]

> 결측치 처리

In [509]:
raw_data_1 = kos_연결_df.fillna(kos_개별_df)

In [510]:
raw_data_1_2 = raw_data_1.fillna(kos_gaap_df)

In [511]:
raw_data_2 = kon_연결_df.fillna(kon_개별_df)

In [512]:
raw_data_2_2 = raw_data_2.fillna(kon_gaap_df)

> 결측치 확인

In [513]:
raw_data_1_2.isna().sum()

X_1       0
X_2       0
X_3       0
X_4       0
X_5     721
X_6     802
X_7     802
X_8     802
X_9     255
X_10    255
X_11    721
X_12    721
X_13    255
X_14    722
X_15    722
X_16    255
X_17    255
X_18    255
X_19    802
X_20    721
X_21    721
X_22    721
X_23    255
X_24    721
X_25    721
X_26    721
X_27    721
X_28    721
X_29    721
X_30    721
X_31    721
X_32    721
X_33    721
X_34    721
X_35    721
X_36    721
X_37    721
X_38    721
X_39    722
X_40    722
X_41    722
X_42    722
X_43    722
X_44    255
X_45    255
X_46    255
X_47    255
X_48    255
X_49    255
X_50    255
X_51    805
X_52    805
X_53    805
X_54    805
dtype: int64

In [514]:
raw_data_2_2.isna().sum()

X_1      0
X_2      0
X_3      0
X_4      0
X_5     87
X_6     87
X_7     87
X_8     87
X_9      9
X_10     9
X_11    87
X_12    87
X_13     9
X_14    87
X_15    87
X_16     9
X_17     9
X_18     9
X_19    87
X_20    87
X_21    87
X_22    87
X_23     9
X_24    87
X_25    87
X_26    87
X_27    87
X_28    87
X_29    87
X_30    87
X_31    87
X_32    87
X_33    87
X_34    87
X_35    87
X_36    87
X_37    87
X_38    87
X_39    87
X_40    87
X_41    87
X_42    87
X_43    87
X_44     9
X_45     9
X_46     9
X_47     9
X_48     9
X_49     9
X_50     9
X_51    87
X_52    87
X_53    87
X_54    87
dtype: int64

> 리스트에 저장된 컬럼명으로 변경

In [515]:
raw_data_1_2.columns = col_list
raw_data_2_2.columns = col_list2

> 타겟 데이터 컬럼명 변경

In [516]:
kos_target_df.rename(columns={'감사의견코드(IFRS).1':'감사의견코드(개별)', '감사의견코드':'감사의견코드(GAAP)'}, inplace=True)

In [517]:
kon_target_df.rename(columns={'감사의견코드(IFRS).1':'감사의견코드(개별)', '감사의견코드':'감사의견코드(GAAP)'}, inplace=True)

> 타겟 데이터 결측치 처리

In [518]:
kos_target_df['감사의견코드(IFRS)'].fillna(kos_target_df['감사의견코드(개별)'], inplace=True)
kos_target_df['감사의견코드(IFRS)'].fillna(kos_target_df['감사의견코드(GAAP)'], inplace=True)
kon_target_df['감사의견코드(IFRS)'].fillna(kos_target_df['감사의견코드(개별)'], inplace=True)
kon_target_df['감사의견코드(IFRS)'].fillna(kos_target_df['감사의견코드(GAAP)'], inplace=True)

In [519]:
kos_추가_df['자본금(*)(IFRS연결)(천원)'].fillna(kos_추가_df['자본금(*)(IFRS)(천원)'], inplace=True)
kos_추가_df['자본금(*)(IFRS연결)(천원)'].fillna(kos_추가_df['자본금(*)(천원)'], inplace=True)

In [520]:
kon_추가_df['자본금(*)(IFRS연결)(천원)'].fillna(kon_추가_df['자본금(*)(IFRS)(천원)'], inplace=True)
kon_추가_df['자본금(*)(IFRS연결)(천원)'].fillna(kon_추가_df['자본금(*)(천원)'], inplace=True)

> 타겟 데이터 필요없는 컬럼 삭제

In [521]:
kos_target_df.drop(columns=['감사의견코드(개별)','감사의견코드(GAAP)'], inplace=True)
kon_target_df.drop(columns=['감사의견코드(개별)','감사의견코드(GAAP)'], inplace=True)

In [522]:
kos_추가_df.drop(columns=['자본금(*)(IFRS)(천원)','자본금(*)(천원)'], inplace=True)
kon_추가_df.drop(columns=['자본금(*)(IFRS)(천원)','자본금(*)(천원)'], inplace=True)

> 상장 기업 데이터와 타겟 데이터 병합

In [523]:
data_1 = pd.concat([raw_data_1_2,kos_target_df.iloc[:,-1]],axis=1)
data_2 = pd.concat([raw_data_2_2,kon_target_df.iloc[:,-1]],axis=1)

> 코스피+코스닥 데이터와 코넥스 데이터 병합

In [524]:
data_3 = pd.concat([data_1, data_2], axis=0).reset_index(drop=True)

> 코스피+코스닥와 코넥스 컬럼 추가 데이터 병합

In [525]:
컬럼추가_df = pd.concat([kos_추가_df, kon_추가_df], axis=0).reset_index(drop=True)

In [526]:
data_4 = pd.concat([data_3, 컬럼추가_df.iloc[:,-2]],axis=1)
data_4 = pd.concat([data_4, 컬럼추가_df.iloc[:,-1]],axis=1)

In [527]:
컬럼추가_df

,회사명,거래소코드,회계년도,통계청 한국표준산업분류 코드 10차(대분류),통계청 한국표준산업분류 10차(대분류),자본금(*)(IFRS연결)(천원)
0,(주)CMG제약,58820,2011/12,21,제조업,21846600.0
1,(주)CMG제약,58820,2012/12,21,제조업,33012770.0
2,(주)CMG제약,58820,2013/12,21,제조업,43313433.0
3,(주)CMG제약,58820,2014/12,21,제조업,43313433.0
4,(주)CMG제약,58820,2015/12,21,제조업,44148622.0
...,...,...,...,...,...,...
25438,퓨쳐메디신(주),341170,2018/12,70,"전문, 과학 및 기술 서비스업",1516733.0
25439,퓨쳐메디신(주),341170,2019/12,70,"전문, 과학 및 기술 서비스업",1516733.0
25440,퓨쳐메디신(주),341170,2020/12,70,"전문, 과학 및 기술 서비스업",3413155.0
25441,퓨쳐메디신(주),341170,2021/12,70,"전문, 과학 및 기술 서비스업",4637735.0
25442,퓨쳐메디신(주),341170,2022/12,70,"전문, 과학 및 기술 서비스업",4637735.0

> 컬럼 순서 변경

In [528]:
# n번째 열을 임시 변수에 저장합니다.
temp_column = data_4.iloc[:,-2]

# n번째 열을 삭제합니다.
data_4.drop(data_4.columns[-2], axis=1, inplace=True)

# n번째 열 앞에 임시 변수에 저장한 열을 추가
data_4.insert(4, '통계청 한국표준산업분류 10차(대분류)', temp_column)

In [529]:
target_df = data_4['감사의견코드(IFRS)']
target_df = pd.DataFrame(target_df)

In [530]:
data_4.drop(columns=['감사의견코드(IFRS)'], inplace=True)

In [531]:
data_5 = pd.concat([data_4,target_df],axis=1)

> 거래소코드 수정

In [532]:
data_5['거래소코드'] = data_5['거래소코드'].astype(str).str.zfill(6)

> 데이터 확인

In [533]:
data_5.head()

,회사명,거래소코드,회계년도,통계청 한국표준산업분류 코드 10차(대분류),통계청 한국표준산업분류 10차(대분류),부채비율(IFRS연결),당좌비율(IFRS),유동비율(IFRS),이자보상배율(이자비용)(IFRS),영업활동으로 인한 현금흐름(간접법)(*)(IFRS연결)(천원),...,부채(*)(IFRS연결)(천원),자본(*)(IFRS연결)(천원),연구개발비(IFRS연결)(천원),* (정상)영업손익(보고서기재)(IFRS연결)(천원),PER(최고)(IFRS),PER(최저)(IFRS),PBR(최고)(IFRS),PBR(최저)(IFRS),자본금(*)(IFRS연결)(천원),감사의견코드(IFRS)
0,(주)CMG제약,058820,2011/12,21,제조업,51.41,164.32,200.32,3.94,-2560438.0,...,9270949.0,18034249.0,23703.0,640283.0,0.00,0.00,3.31,1.11,21846600.0,UQ
1,(주)CMG제약,058820,2012/12,21,제조업,80.77,661.93,706.26,-7.45,-1572581.0,...,25517350.0,31590685.0,120052.0,-4205503.0,0.00,0.00,4.33,0.78,33012770.0,UQ
2,(주)CMG제약,058820,2013/12,21,제조업,14.11,611.84,695.84,0.73,-3939013.0,...,6915281.0,48997281.0,134454.0,791250.0,529.70,220.41,4.16,1.73,43313433.0,UQ
3,(주)CMG제약,058820,2014/12,21,제조업,18.50,269.08,325.47,3.63,724893.0,...,9065682.0,49002644.0,116533.0,442322.0,848.58,443.48,3.75,1.96,43313433.0,UQ
4,(주)CMG제약,058820,2015/12,21,제조업,20.78,236.06,297.75,-32.20,2410205.0,...,9725933.0,46806888.0,831910.0,-2572168.0,0.00,0.00,9.56,2.27,44148622.0,UQ

> 데이터 저장

In [534]:
data_5.to_csv('상장기업_data.csv', index=False, encoding='utf-8')