In [1]:
import pandas as pd

----
# raw data 만들기
* 로직
    1.  감사의견 없는 연결, 개별, GAAP 합치기
    
        >  연결 -> 개별 -> GAAP 순으로 결측치 대체
    2. 감사의견 있는 연결 파일의 감사의견 컬럼을 새로 만든 통합 데이터프레임에 입력

In [68]:
# 데이터 로드
data_1 = pd.read_csv('/Users/taewon/Documents/금융 빅데이터/Project_2/코딩/상장기업/원본/코스피_코스닥_연결.csv', encoding='cp949')
data_2 = pd.read_csv('/Users/taewon/Documents/금융 빅데이터/Project_2/코딩/상장기업/원본/코스피_코스닥_개별.csv', encoding='cp949')
data_3 = pd.read_csv('/Users/taewon/Documents/금융 빅데이터/Project_2/코딩/상장기업/원본/코스피_코스닥_gaap.csv', encoding='cp949')
data_target = pd.read_csv('/Users/taewon/Documents/금융 빅데이터/Project_2/코딩/상장기업/원본/코스피_코스닥_타겟.csv', encoding='cp949')

### 데이터 살펴보기

- 데이터 수 : (24430, 54) + target ((24430, 6))개
- 기업 수   : 2272개

In [69]:
len(data_1['회사명'].unique())

2272

In [70]:
data_1.shape

(24430, 54)

In [71]:
data_2.shape

(24430, 54)

In [72]:
data_3.shape

(24430, 54)

In [73]:
data_target.shape

(24430, 6)

In [74]:
# 컬럼명 저장
col_list = data_1.columns.tolist()

### 데이터 합치기 전 컬럼명 통일

In [75]:
# 컬럼명 통일
data_1.columns = [f"X_{i}" for i in range(1, 55)]
data_2.columns = [f"X_{i}" for i in range(1, 55)]
data_3.columns = [f"X_{i}" for i in range(1, 55)]

In [76]:
# IFRS연결, IFRS개별 합치기
raw_data_1 = data_1.fillna(data_2)

In [77]:
# IFRS, GAAP 합치기
raw_data_1 = raw_data_1.fillna(data_3)

In [78]:
# 결측치 확인하기
raw_data_1.isnull().sum()

X_1       0
X_2       0
X_3       0
X_4       0
X_5     721
X_6     802
X_7     802
X_8     802
X_9     255
X_10    255
X_11    721
X_12    721
X_13    255
X_14    722
X_15    722
X_16    255
X_17    255
X_18    255
X_19    802
X_20    721
X_21    721
X_22    721
X_23    255
X_24    721
X_25    721
X_26    721
X_27    721
X_28    721
X_29    721
X_30    721
X_31    721
X_32    721
X_33    721
X_34    721
X_35    721
X_36    721
X_37    721
X_38    721
X_39    722
X_40    722
X_41    722
X_42    722
X_43    722
X_44    255
X_45    255
X_46    255
X_47    255
X_48    255
X_49    255
X_50    255
X_51    805
X_52    805
X_53    805
X_54    805
dtype: int64

In [79]:
# 다시 원래 컬럼으로 정의하기
raw_data_1.columns = col_list

In [80]:
data_target.shape

(24430, 6)

In [81]:
raw_data_1.shape

(24430, 54)

---

- 합치기 전 검증!!!

In [83]:
(raw_data_1['회사명']==data_target['회사명']).value_counts()

회사명
True    24430
Name: count, dtype: int64

In [84]:
(raw_data_1['회계년도']==data_target['회계년도']).value_counts()

회계년도
True    24430
Name: count, dtype: int64

In [85]:
raw_data_2=pd.concat([raw_data_1,data_target.iloc[:,-1]],axis=1)
raw_data_2

,회사명,거래소코드,회계년도,통계청 한국표준산업분류 코드 10차(대분류),부채비율(IFRS연결),당좌비율(IFRS),유동비율(IFRS),이자보상배율(이자비용)(IFRS),영업활동으로 인한 현금흐름(간접법)(*)(IFRS연결)(천원),이자비용(IFRS연결)(천원),...,자산(*)(IFRS연결)(천원),부채(*)(IFRS연결)(천원),자본(*)(IFRS연결)(천원),연구개발비(IFRS연결)(천원),* (정상)영업손익(보고서기재)(IFRS연결)(천원),PER(최고)(IFRS),PER(최저)(IFRS),PBR(최고)(IFRS),PBR(최저)(IFRS),감사의견코드
0,(주)CMG제약,58820,2011/12,21,51.41,164.32,200.32,3.94,-2560438.0,181404.0,...,27305198.0,9270949.0,18034249.0,23703.0,640283.0,0.00,0.00,3.31,1.11,UQ
1,(주)CMG제약,58820,2012/12,21,80.77,661.93,706.26,-7.45,-1572581.0,542880.0,...,57108035.0,25517350.0,31590685.0,120052.0,-4205503.0,0.00,0.00,4.33,0.78,UQ
2,(주)CMG제약,58820,2013/12,21,14.11,611.84,695.84,0.73,-3939013.0,1134104.0,...,55912563.0,6915281.0,48997281.0,134454.0,791250.0,529.70,220.41,4.16,1.73,UQ
3,(주)CMG제약,58820,2014/12,21,18.50,269.08,325.47,3.63,724893.0,122840.0,...,58068326.0,9065682.0,49002644.0,116533.0,442322.0,848.58,443.48,3.75,1.96,UQ
4,(주)CMG제약,58820,2015/12,21,20.78,236.06,297.75,-32.20,2410205.0,79830.0,...,56532821.0,9725933.0,46806888.0,831910.0,-2572168.0,0.00,0.00,9.56,2.27,UQ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24425,흥아해운(주),3280,2018/12,50,998.73,26.79,32.76,-1.26,-33794586.0,32310603.0,...,803698457.0,730550282.0,73148175.0,0.0,-37595967.0,0.00,0.00,2.97,1.09,UQ
24426,흥아해운(주),3280,2019/12,50,1293.83,30.12,34.36,-0.58,-12048291.0,22505539.0,...,430962722.0,400043339.0,30919383.0,0.0,-12364293.0,0.00,0.00,7.85,1.93,DU
24427,흥아해운(주),3280,2020/12,50,0.00,29.94,35.11,-0.27,-3958237.0,15401087.0,...,286775958.0,313059823.0,-26283865.0,0.0,-5797543.0,0.00,0.00,0.00,0.00,UQ
24428,흥아해운(주),3280,2021/12,50,140.24,174.83,200.29,-1.04,-2635682.0,1776666.0,...,247298683.0,144358895.0,102939788.0,0.0,-1874689.0,84.63,2.95,12.35,0.43,UQ
24429,흥아해운(주),3280,2022/12,50,134.33,130.73,149.00,94.79,32737334.0,348416.0,...,317059937.0,181755200.0,135304736.0,0.0,29679322.0,66.22,20.78,7.21,2.26,UQ

---

In [2]:
df = pd.read_csv('/Users/taewon/Documents/금융 빅데이터/Project_2/코딩/상장기업/상장raw2.csv', encoding='euc-kr')

In [3]:
df['거래소코드'] = df['거래소코드'].astype(str).str.zfill(6)

In [4]:
df['Year']= df['회계년도'].replace('/','').astype(str).str[:4].astype(int)

In [5]:
df2013 = pd.read_csv('/Users/taewon/Documents/금융 빅데이터/Project_2/코딩/상장기업/시가총액/2013_4.csv', encoding='cp949')
df2014 = pd.read_csv('/Users/taewon/Documents/금융 빅데이터/Project_2/코딩/상장기업/시가총액/2014_4.csv', encoding='cp949')
df2015 = pd.read_csv('/Users/taewon/Documents/금융 빅데이터/Project_2/코딩/상장기업/시가총액/2015_4.csv', encoding='cp949')
df2016 = pd.read_csv('/Users/taewon/Documents/금융 빅데이터/Project_2/코딩/상장기업/시가총액/2016_4.csv', encoding='cp949')
df2017 = pd.read_csv('/Users/taewon/Documents/금융 빅데이터/Project_2/코딩/상장기업/시가총액/2017_4.csv', encoding='cp949')
df2018 = pd.read_csv('/Users/taewon/Documents/금융 빅데이터/Project_2/코딩/상장기업/시가총액/2018_4.csv', encoding='cp949')
df2019 = pd.read_csv('/Users/taewon/Documents/금융 빅데이터/Project_2/코딩/상장기업/시가총액/2019_4.csv', encoding='cp949')
df2020 = pd.read_csv('/Users/taewon/Documents/금융 빅데이터/Project_2/코딩/상장기업/시가총액/2020_4.csv', encoding='cp949')
df2021 = pd.read_csv('/Users/taewon/Documents/금융 빅데이터/Project_2/코딩/상장기업/시가총액/2021_4.csv', encoding='cp949')
df2022 = pd.read_csv('/Users/taewon/Documents/금융 빅데이터/Project_2/코딩/상장기업/시가총액/2022_4.csv', encoding='cp949')

In [6]:
df2013 = df2013.sort_values(by='시가총액', ascending=False).head(100)
df2014 = df2014.sort_values(by='시가총액', ascending=False).head(100)
df2015 = df2015.sort_values(by='시가총액', ascending=False).head(100)
df2016 = df2016.sort_values(by='시가총액', ascending=False).head(100)
df2017 = df2017.sort_values(by='시가총액', ascending=False).head(100)
df2018 = df2018.sort_values(by='시가총액', ascending=False).head(100)
df2019 = df2019.sort_values(by='시가총액', ascending=False).head(100)
df2020 = df2020.sort_values(by='시가총액', ascending=False).head(100)
df2021 = df2021.sort_values(by='시가총액', ascending=False).head(100)
df2022 = df2022.sort_values(by='시가총액', ascending=False).head(100)

In [7]:
list_2013 = df2013['종목코드'].tolist()
list_2014 = df2014['종목코드'].tolist()
list_2015 = df2015['종목코드'].tolist()
list_2016 = df2016['종목코드'].tolist()
list_2017 = df2017['종목코드'].tolist()
list_2018 = df2018['종목코드'].tolist()
list_2019 = df2019['종목코드'].tolist()
list_2020 = df2020['종목코드'].tolist()
list_2021 = df2021['종목코드'].tolist()
list_2022 = df2022['종목코드'].tolist()

In [8]:
for year, lst in zip(range(2013, 2023), [list_2013, list_2014, list_2015, list_2016, list_2017, list_2018, list_2019, list_2020, list_2021, list_2022]):
    df = df[~((df['Year'] == year) & (df['거래소코드'].isin(lst)))]