In [1]:
import pandas as pd

## 3개의 컬럼 추가
- 통계청 한국표준산업분류 코드 10차(대분류)
- 자본금
- 영업손익(이익)

In [2]:
df1=pd.read_csv('./Dataset/추가/추가_1.csv',encoding='euc-kr')
df2=pd.read_csv('./Dataset/추가/추가_2.csv',encoding='euc-kr')
df3=pd.read_csv('./Dataset/추가/추가_3.csv',encoding='euc-kr')
df4=pd.read_csv('./Dataset/추가/추가_4.csv',encoding='euc-kr')
df5=pd.read_csv('./Dataset/추가/추가_5.csv',encoding='euc-kr')
df6=pd.read_csv('./Dataset/추가/추가_6.csv',encoding='euc-kr')
df7=pd.read_csv('./Dataset/추가/추가_7.csv',encoding='euc-kr')
df8=pd.read_csv('./Dataset/추가/추가_8.csv',encoding='euc-kr')
df9=pd.read_csv('./Dataset/추가/추가_9.csv',encoding='euc-kr')
df10=pd.read_csv('./Dataset/추가/추가_10.csv',encoding='euc-kr')
df11=pd.read_csv('./Dataset/추가/추가_11.csv',encoding='euc-kr')
df12=pd.read_csv('./Dataset/추가/추가_12.csv',encoding='euc-kr')
df13=pd.read_csv('./Dataset/추가/추가_13.csv',encoding='euc-kr')
df14=pd.read_csv('./Dataset/추가/추가_14.csv',encoding='euc-kr')

In [3]:
df=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14],axis=0).reset_index(drop=True)

In [4]:
df_=pd.read_csv('./Dataset/외감raw.csv',encoding='euc-kr')

#### 외감기업은 뽑는 시기에 따라 회사 개수가 달라지므로 추가로 뽑은 시점에서 전 시점 데이터와 비교해서 추가된거 삭제!
- 실제로 2개의 데이터가  더 많았다

## 추가된 데이터 확인하는  코드

In [5]:
from collections import Counter

list1 = df_['회사명']
list2 = df['회사명']
counter1 = Counter(list1)
counter2 = Counter(list2)

different_elements = []

for element, count in counter1.items():
    if count != counter2[element]:
        different_elements.append(element)

print("두 리스트에서 이름이 같지만 개수가 다른 요소들:", different_elements)

두 리스트에서 이름이 같지만 개수가 다른 요소들: ['(주)우성코퍼레이션', '주식회사뷰케이코리아']

- (주)우성코퍼레이션,주식회사뷰케이코리아가 추가시점에 추가정보가 올라옴--> drop해줌

In [6]:
df=df.drop([185011,126614],axis=0).reset_index(drop=True)

In [7]:
from collections import Counter

list1 = df_['회사명']
list2 = df['회사명']
counter1 = Counter(list1)
counter2 = Counter(list2)

different_elements = []

for element, count in counter1.items():
    if count != counter2[element]:
        different_elements.append(element)

print("두 리스트에서 이름이 같지만 개수가 다른 요소들:", different_elements)

두 리스트에서 이름이 같지만 개수가 다른 요소들: []

In [8]:
df.isna().sum()

회사명                                   0
거래소코드                                 0
회계년도                                  0
통계청 한국표준산업분류 코드 10차(대분류)              0
통계청 한국표준산업분류 10차(대분류)                 0
자본금(*)(IFRS연결)(천원)               289617
자본금(*)(IFRS)(천원)                 271086
자본금(*)(천원)                           85
* (정상)영업손익(보고서기재)(IFRS연결)(천원)    289617
* (정상)영업손익(보고서기재)(IFRS)(천원)      271086
영업이익(손실)(천원)                         85
dtype: int64

- 자본금()(IFRS연결)(천원)" 열의 값이 비어있을 경우 "자본금()(IFRS)(천원)" 열의 값을 그대로 사용하고, 값이 이미 존재한다면 그 값을 유지하는 코드

In [9]:
df['자본금(*)(IFRS연결)(천원)'] = df.apply(lambda row: row['자본금(*)(IFRS)(천원)'] if pd.isna(row['자본금(*)(IFRS연결)(천원)']) else row['자본금(*)(IFRS연결)(천원)'], axis=1)

In [10]:
df.isna().sum()

회사명                                   0
거래소코드                                 0
회계년도                                  0
통계청 한국표준산업분류 코드 10차(대분류)              0
통계청 한국표준산업분류 10차(대분류)                 0
자본금(*)(IFRS연결)(천원)               271079
자본금(*)(IFRS)(천원)                 271086
자본금(*)(천원)                           85
* (정상)영업손익(보고서기재)(IFRS연결)(천원)    289617
* (정상)영업손익(보고서기재)(IFRS)(천원)      271086
영업이익(손실)(천원)                         85
dtype: int64

In [11]:
df['자본금(*)(IFRS연결)(천원)'] = df.apply(lambda row: row['자본금(*)(천원)'] if pd.isna(row['자본금(*)(IFRS연결)(천원)']) else row['자본금(*)(IFRS연결)(천원)'], axis=1)

In [12]:
df.isna().sum()

회사명                                   0
거래소코드                                 0
회계년도                                  0
통계청 한국표준산업분류 코드 10차(대분류)              0
통계청 한국표준산업분류 10차(대분류)                 0
자본금(*)(IFRS연결)(천원)                   78
자본금(*)(IFRS)(천원)                 271086
자본금(*)(천원)                           85
* (정상)영업손익(보고서기재)(IFRS연결)(천원)    289617
* (정상)영업손익(보고서기재)(IFRS)(천원)      271086
영업이익(손실)(천원)                         85
dtype: int64

In [13]:
df['* (정상)영업손익(보고서기재)(IFRS연결)(천원)'] = df.apply(lambda row: row['* (정상)영업손익(보고서기재)(IFRS)(천원)'] if pd.isna(row['* (정상)영업손익(보고서기재)(IFRS연결)(천원)']) else row['* (정상)영업손익(보고서기재)(IFRS연결)(천원)'], axis=1)
df['* (정상)영업손익(보고서기재)(IFRS연결)(천원)'] = df.apply(lambda row: row['영업이익(손실)(천원)'] if pd.isna(row['* (정상)영업손익(보고서기재)(IFRS연결)(천원)']) else row['* (정상)영업손익(보고서기재)(IFRS연결)(천원)'], axis=1)

In [14]:
df.isna().sum()

회사명                                   0
거래소코드                                 0
회계년도                                  0
통계청 한국표준산업분류 코드 10차(대분류)              0
통계청 한국표준산업분류 10차(대분류)                 0
자본금(*)(IFRS연결)(천원)                   78
자본금(*)(IFRS)(천원)                 271086
자본금(*)(천원)                           85
* (정상)영업손익(보고서기재)(IFRS연결)(천원)        78
* (정상)영업손익(보고서기재)(IFRS)(천원)      271086
영업이익(손실)(천원)                         85
dtype: int64

In [15]:
df.drop(['거래소코드','회계년도','통계청 한국표준산업분류 코드 10차(대분류)','자본금(*)(IFRS)(천원)','자본금(*)(천원)','* (정상)영업손익(보고서기재)(IFRS)(천원)','영업이익(손실)(천원)'],axis=1,inplace=True)

In [16]:
(df['회사명']== df_['회사명']).value_counts()

회사명
True    295975
Name: count, dtype: int64

In [17]:
df_.drop('* (정상)영업손익(보고서기재)(IFRS연결)(천원)',inplace=True,axis=1)

In [18]:
df_total=pd.concat([df_,df], axis=1)

## 3개의 컬럼 추가
- 통계청 한국표준산업분류 코드 10차(대분류)
- 자본금
- 영업손익(이익)

In [19]:
df_total

,회사명,거래소코드,회계년도,통계청 한국표준산업분류 코드 10차(대분류),부채비율,당좌비율,유동비율,이자보상배율(이자비용),영업활동으로 인한 현금흐름(간접법)(*)(IFRS연결)(천원),이자비용(IFRS연결)(천원),...,재무활동으로 인한 현금흐름(*)(IFRS연결)(천원),자산(*)(IFRS연결)(천원),부채(*)(IFRS연결)(천원),자본(*)(IFRS연결)(천원),연구개발비(IFRS연결)(천원),감사의견코드,회사명,통계청 한국표준산업분류 10차(대분류),자본금(*)(IFRS연결)(천원),* (정상)영업손익(보고서기재)(IFRS연결)(천원)
0,(유)가든주류,97082,2019/12,46,178.34,213.01,243.06,3.17,138498.0,628271.0,...,1982120.0,33246572.0,21302019.0,11944553.0,1.992000e+11,NaN,(유)가든주류,도매 및 소매업,150000.0,1991621.0
1,(유)가든주류,97082,2020/12,46,361.81,115.89,128.39,1.29,-341826.0,476716.0,...,892418.0,32940746.0,25807747.0,7132998.0,6.150000e+10,QS,(유)가든주류,도매 및 소매업,150000.0,615380.0
2,(유)가든주류,97082,2021/12,46,281.83,176.11,186.39,0.29,130657.0,476252.0,...,-4287909.0,29500238.0,21774189.0,7726049.0,1.370000e+10,UQ,(유)가든주류,도매 및 소매업,150000.0,136557.0
3,(유)가든주류,97082,2022/12,46,0.00,28.33,35.17,-1.44,-26425950.0,1914030.0,...,13075530.0,9861648.0,34820255.0,-24958607.0,-2.749000e+11,DU,(유)가든주류,도매 및 소매업,150000.0,-2749456.0
4,(유)그룹세브코리아,13171,2019/12,46,147.02,92.20,158.78,25.79,14297932.0,468007.0,...,-14582988.0,50917276.0,30304375.0,20612901.0,1.207000e+12,NaN,(유)그룹세브코리아,도매 및 소매업,1700000.0,12070148.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295970,힐티코리아주식회사,10534,2021/12,46,83.55,116.00,204.04,16.92,1399525.0,170487.0,...,-5714997.0,57962904.0,26384600.0,31578304.0,0.000000e+00,UQ,힐티코리아주식회사,도매 및 소매업,20794780.0,2884587.0
295971,힐티코리아주식회사,10534,2022/12,46,108.21,95.88,182.33,45.26,8906854.0,173153.0,...,-2228349.0,80263333.0,41714240.0,38549093.0,0.000000e+00,UQ,힐티코리아주식회사,도매 및 소매업,20794780.0,7837661.0
295972,（주）신미코스메틱,85105,2017/12,46,31.40,416.15,416.15,19368.35,13717057.0,1309.0,...,-227960.0,27238719.0,6508768.0,20729950.0,2.535300e+12,NaN,（주）신미코스메틱,도매 및 소매업,50000.0,25353167.0
295973,（주）신미코스메틱,85105,2018/12,46,15.51,677.00,755.04,7918.22,18445523.0,2475.0,...,-1574040.0,30667235.0,4117284.0,26549952.0,1.959800e+12,UQ,（주）신미코스메틱,도매 및 소매업,50000.0,19597602.0
295974,（주）신미코스메틱,85105,2019/12,46,0.88,13972.49,14090.52,178.42,4645976.0,2217.0,...,-3100000.0,21393335.0,186687.0,21206648.0,3.960000e+10,UQ,（주）신미코스메틱,도매 및 소매업,50000.0,395562.0

In [20]:
# df_total.to_csv('외감raw2.csv',index=False,encoding='euc-kr')